<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mobal.hangvigation">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:name=".network.ApplicationController"
            android:allowBackup="true"
            android:icon="@mipmap/ic_palcon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_palcon_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.outdoor_navi.OutdoorNaviActivity">
        </activity>

        <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="d42ec019b2368947ef91a02b0a580ed9"/>

        <activity android:name=".ui.indoor_navi.IndoorNaviActivity">
        </activity>
        <activity android:name=".ui.indoor_info.IndoorInfoActivity"/>
        <activity android:name=".ui.indoor_info.PlaceListActivity"/>
        <activity android:name=".ui.summary.OutdoorSummaryActivity"/>
        <activity android:name=".ui.summary.IndoorSummaryActivity"/>
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>